<ion-content>
    <swiper-container [loop]="false"  [pagination]="{ clickable: true }" #swiperRef>
      
      <swiper-slide>
        <div class="swiper-inner inner-padding">
            <img src="assets/images/plan.png" alt="Planning Image" />
  
          <div class="swiper-text">
            <ion-text class="swiper-title">Stoody'de <br> Planla</ion-text>
            <ion-text class="swiper-sub">Unutma, Stoody ile başarıya giden yolu organize etmek artık çok kolay.</ion-text>
          </div>
        </div>
      </swiper-slide>

      <swiper-slide>
        <div class="swiper-inner inner-padding">
          <div class="image-container">
            <img src="assets/images/focus-onboarding.png" alt="Focusing Image" />
          </div>
  
          <div class="swiper-text">
            <ion-text class="swiper-title">Stoody'de <br> Odaklan</ion-text>
            <ion-text class="swiper-sub">Verimli çalışma tekniklerini uygula ve dikkatini koru.</ion-text>
          </div>
        </div>

      </swiper-slide>

      <swiper-slide>
        <div class="swiper-inner inner-padding">
          <div class="image-container">
            <img src="assets/images/achieve-onboarding.png" alt="Goals Image" />
          </div>
  
          <div class="swiper-text">
            <ion-text class="swiper-title">Stoody'de <br> Hedeflerine Ulaş</ion-text>
            <ion-text class="swiper-sub">Hedeflerin artık sadece bir adım uzağında, Stoody'e katıl ve başar!</ion-text>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
</ion-content>

<ion-footer>
  <ion-button class="skip-btn" (click)="navigateToSignIn()">
    Atla
  </ion-button>

  <div class="dark-button" (click)="handleNextClick(swiperRef)">
    <div class="text-btn">
      <ion-text>{{currentSlide === totalSlides - 1 ? "Stoody'e Katıl" : 'Devam Et'}}</ion-text>
    </div>

    <ion-icon name="chevron-forward-circle-outline"></ion-icon>
  </div>
  
</ion-footer>

