ion-content{
    .question{
        padding-top: 2rem;

        ion-label{
            color: var(--ion-color-primary);
            font-size: 1.5rem;
            font-weight: 500;
        }

        ion-input{
            margin-top: 1rem;
        }

        .checkbox-container{
            margin-top: 1rem;
            padding-bottom: 1rem;
            background: var(--ion-color-light);
            border: 1px solid var(--ion-color-gray-200);
            border-radius: 1rem 1rem 1rem 1rem;


            ion-item{
                --background: var(--ion-color-light);
                margin-top: 0.75rem;
                --ripple-color:	var(--ion-color-gray-200);
            }
        }
    }
}

ion-footer{
    padding: 0 0 0.25rem 0;
    text-align: center;
}
