<ion-content>
  <div class="inner-padding">

    <!-- Adım 1: Doğum Tarihi -->
    <div class="question" *ngIf="currentStep === 1">
      <ion-label>Doğum tarihini bizimle paylaşır mısın?</ion-label>
      <ion-input
      placeholder="Doğum tarihini seç"
      [value]="formatToString(userData.birthDate)"
      readonly="true"
      (click)="openDatePicker('birth')"
      ></ion-input>
    </div>

    <!-- Adım 2: Hedef -->
    <div class="question" *ngIf="currentStep === 2">
      <ion-label>Seni bu süreçte motive eden bir hedefin var mı varsa adını ve tarihini bizimle paylaşır msıın?</ion-label>
      <ion-input placeholder="Hedef Adı" [(ngModel)]="userData.goal.name"></ion-input>

      <ion-input
      placeholder="Hedef Tarihi"
      [value]="formatToString(userData.goal.date)"
      readonly="true"
      (click)="openDatePicker('goal')"
      ></ion-input>    </div>

    <!-- Adım 3: Çalışma Günleri -->
    <div class="question" *ngIf="currentStep === 3">
      <ion-label>Genellikle hangi günlerde çalışmayı tercih edersin?</ion-label>
      <div class="checkbox-container">
        <ion-item lines="none" (click)="toggleDay(idx)" *ngFor="let day of ['Pazartesi', 'Salı', 'Çarşamba', 'Perşembe', 'Cuma', 'Cumartesi', 'Pazar']; let idx=index">
          <ion-checkbox [(ngModel)]="userData.studyDays[idx]" [value]="day" slot="start"></ion-checkbox>
          <ion-label>{{ day }}</ion-label>
        </ion-item>
      </div>
    </div>

<!-- Adım 4: Haftalık Çalışma Süresi -->
<div class="question" *ngIf="currentStep === 4">
  <ion-label>Haftalık kaç saat çalışmayı hedefliyorsun?</ion-label>

    <ion-input
      readonly
      [value]="'Haftalık ' + (userData.weeklyTargetHours ?? '-') + ' saat'"
      (click)="openTargetPicker()">
    </ion-input>
</div>

<!-- Adım 4: Haftalık Çalışma Süresi -->
<div class="question" *ngIf="currentStep === 5">
  <ion-label>Nasıl bir çalışma stratejisi tercih ediyorsun?</ion-label>

    <ion-input
      readonly
      [value]="(userData.focusDuration ?? '-') + ' dk odak | ' + (userData.breakDuration ?? '-') + ' dk ara'"
      (click)="openFocusPicker()">
    </ion-input>
</div>


    <!-- Adım 5: Verimli Saatler -->
    <div class="question" *ngIf="currentStep === 6">
      <ion-label>Genellikle hangi saatlerde çalışmayı tercih edersin? Birden fazla seçebilirsin.</ion-label>
      <div class="checkbox-container">
        <ion-item
          lines="none"
          (click)="togglePreferredHour(idx)"
          *ngFor="let range of timeRanges; let idx = index"
        >
          <ion-checkbox
            slot="start"
            [(ngModel)]="userData.preferredHours[idx]"
          ></ion-checkbox>
          <ion-label>{{ range }}</ion-label>
        </ion-item>
      </div>
    </div>
    
  </div>
  
</ion-content>

<ion-footer class="ion-no-border">
  <ion-progress-bar [value]="(currentStep - 1) / totalSteps" type="determinate" color="primary"></ion-progress-bar>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [disabled]="currentStep <= 1" (click)="goToPreviousStep()">
        <ion-icon name="chevron-back-outline" color="primary"></ion-icon>
        Geri
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">{{percentage}}% Tamamladın</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="goToNextStep()">
        İleri
        <ion-icon name="chevron-forward-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
