<ion-tabs >

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/content/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-text>Ana Sayfa</ion-text>
        <!-- <ion-icon [ngClass]="{active: activeTab === 'home'}" aria-hidden="true"
        [src]="activeTab === 'home' ? 'assets/icon/tab-bar/tab-home-active.svg' : 'assets/icon/tab-bar/tab-home.svg' "></ion-icon> -->
    </ion-tab-button>

    <ion-tab-button tab="plan" href="/content/plan">
      <ion-icon name="school-outline"></ion-icon>
      <ion-text>Planlarım</ion-text>
      <!-- <ion-icon aria-hidden="true" [ngClass]="{active: activeTab === 'reminders'}"
        [src]="activeTab === 'reminders' ? 'assets/icon/tab-bar/tab-notifications-active.svg' : 'assets/icon/tab-bar/tab-notifications.svg' "></ion-icon> -->

    </ion-tab-button>

    <ion-tab-button tab="community" href="/content/community">
      <ion-icon src="../../../assets/icon/focus.svg"></ion-icon>

      <ion-text>Odaklan</ion-text>
      <!-- <ion-icon [ngClass]="{active: activeTab === 'videos'}" aria-hidden="true"
        [src]="activeTab === 'videos' ? 'assets/icon/tab-bar/tab-videos-active.svg' : 'assets/icon/tab-bar/tab-videos.svg' "></ion-icon> -->
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/content/profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-text>Profil</ion-text>
      <!-- <ion-icon [ngClass]="{active: activeTab === 'profile'}" aria-hidden="true"
        [src]="activeTab === 'profile' ? 'assets/icon/tab-bar/tab-profile-active.svg' : 'assets/icon/tab-bar/tab-profile.svg' "></ion-icon> -->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>