/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "~swiper/swiper-bundle.css";



/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";

html{
    font-size: 16px;
}

ion-content{
    --background: var(--ion-color-light);
}

ion-text,
ion-label,
ion-title,
p,
h1,
h2,
h3,
h4{
    color: var(--ion-color-primary);
}

ion-footer{
    background: var(--ion-color-light);
    padding: 0 20px 20px 20px;
    border: none !important;
    box-shadow: none !important;
}

ion-toolbar{
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-start: 0px;
    --padding-end: 15px;
    --border-width: 0px !important;
    

    ion-back-button {
        text-transform: none !important;
        --icon-font-size: 20px;
        font-size: 14px !important;
        font-style: normal !important;
        font-weight: 500 !important;
        line-height: normal !important;
    }
}

.light-bar {
    --background: var(--ion-color-light);
    --color: var(--ion-color-primary) !important;

    ion-back-button {
        --color: var(--ion-color-primary) !important;
    }
}

.dark-bar{
    --background: var(--ion-color-primary);
    --color: var(--ion-color-light) !important;

    ion-back-button {
        --color: var(--ion-color-light) !important;
    }
}

ion-button,
ion-back-button{
    --border-radius: 0.5rem;
    --background-hover: none;
    --background-focused: none;
    --background-activated: none;
    --background-activated-opacity: none;
    --background-focused-opacity: none;
    --background-hover-opacity: none;
    --box-shadow: none;
    --padding-start: 0;
    --padding-end: 0;
    --ripple-color: transparent;
    text-transform: none;
    font-size: 16px;
    font-weight: 500;
}

ion-tab-button{
    --ripple-color: #afc4c3;
}

ion-input{
    background-color: var(--ion-color-light);
    border: 1.5px solid var(--ion-color-gray-200);
    border-radius: 0.5rem;
    --color: var(--ion-color-primary) !important;
    --padding-start: 0.5rem !important;
    --padding-end: 0.5rem !important;
    --placeholder-color: var(--ion-color-primary) !important;
    --placeholder-opacity: 0.6 !important;
}

ion-item{
    --ripple-color: transparent;
}

.full-btn{
    width: 100%;
    min-height: 50px;
    font-size: 18px;
    font-weight: 500;
}

.dark-btn{
    --background: var(--ion-color-primary);
    color: var(--ion-color-light);
}

.light-btn{
    --background: var(--ion-color-secondary);
    color: var(--ion-color-primary);
}

.inner-padding{
    padding: 0 25px;
}

ion-checkbox {
    --size: 1.5rem;
    --checkbox-background-checked: var(--ion-color-primary);
    --checkmark-color: var(--ion-color-light);
}

ion-checkbox::part(container) {
    border-radius: 0.5rem;
    border: 1px solid var(--ion-color-primary);
}

.bottom-sheet-modal{
    --border-radius: 1rem 1rem 0 0;

    .picker-container{
        display: flex;
        align-items: center;
        justify-content: center;

        ion-datetime{
            --background: var(--ion-color-light) !important ;
            --wheel-highlight-background: var(--ion-color-secondary);
        }
    }

    ion-button{
        min-height: 50px;
        padding-top: 0.5rem ;
        width: 100%;
    }
}

.ion-picker-class{
    --background: var(--ion-color-light) !important;
    --border-radius: 1rem 1rem 0 0;
}

