/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";

html{
    font-size: 16px;
}

ion-content,
ion-toolbar,
ion-footer{
    --background: var(--ion-color-gray-100);
}

ion-toolbar {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-start: 0px;
    --padding-end: 15px;
    --border-width: 0px !important;


    ion-back-button {
        --color: var(ion-color-dark) !important;
        text-transform: none !important;
        --icon-font-size: 20px;
        font-size: 14px !important;
        font-style: normal !important;
        font-weight: 500 !important;
        line-height: normal !important;
    }
}

ion-button,
ion-back-button{
    --border-radius: 7px;
    --background-hover: none;
    --background-focused: none;
    --background-activated: none;
    --background-activated-opacity: none;
    --background-focused-opacity: none;
    --background-hover-opacity: none;
    --box-shadow: none;
    --padding-start: 0;
    --padding-end: 0;
    --ripple-color: transparent;
    text-transform: none;
    font-size: 16px;
    font-weight: 500;
}

ion-tab-button{
    --ripple-color: #afc4c3;
}

.full-btn{
    width: 100%;
    min-height: 50px;
    font-size: 18px;
    font-weight: 500;
}

.dark-btn{
    --background: var(--ion-color-primary);
    color: var(--ion-color-light);
}

.light-btn{
    --background: var(--ion-color-secondary);
    color: var(--ion-color-primary);
}

.inner-padding{
    padding: 0 25px;
}

