ion-content{
    
    .login-container{

        .text-container{
            padding-top: 8%;
            padding-bottom: 2.75rem;
            text-align: left;
            color: var(--ion-color-light);
            background: var(--ion-color-primary);
            // border-radius: 0 0 1rem 1rem;
            
            ion-title{
                font-size: 2.5rem;
                font-weight: 600;
                padding-inline-start: 0 !important;
                color: var(--ion-color-light) !important;
            }

            p{
                color: var(--ion-color-light) !important;
            }
        }

        form{
            .form-input{
                padding: 0 0.75rem;
            }

            .form-input:first-child{
                padding-bottom: 1rem;
                padding-top: 2.5rem;
            }
        }

        .button-container{
            padding: 2.5rem 0 2rem 0;
        }
    
        .or-container {
            display: flex;
            align-items: center;
            justify-content: center;
    
            .line {
                flex: 1;
                height: 1px;
                background-color: var(--ion-color-gray-200);
                margin: 0 1rem;
            }
            .or-text {
                color: var(--ion-color-gray-300);
                font-weight: 400;
            }
        }
    
        .social-buttons{
            padding-top: 2rem ;
            .google-btn{
                --background: var(--ion-color-danger);
                color: var(--ion-color-light);
            }
        }

        .register-text{
            display: flex;
            justify-content: center;
            margin-top: 4rem;
            padding-bottom: 2rem;

            span{
                color: var(--ion-color-warning);
                font-weight: 600;
            }
        }
    }

}